body {
    height: 100%;
    width: 100%;
    background-color: rgb(155, 136, 110);
}

canvas {
    cursor: crosshair;
}

div#sidebar {
    position: absolute;
    left: 0;
    width: 300px;
    padding: 20px 20px;
    top: 0;
}

canvas#canvas {
    left:350px;
    top: 45px;
}

.btn {
    margin-bottom: 10px;
    width: 100%;
}
input {
    width: 100%;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 10px;
}

.toolsButtons .btn {
    width: 48%;
}


.colorpicker {
    background: transparent;
    height: 40px;
}

input#file-input {
    display: none;

}

input#file-input + label {
    background-color: rgb(49, 49, 252);
    padding: 8px;
    color: white;
    border: 2px solid rgb(78, 78, 206);
    border-radius: 9px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    
    
}

.btnnewimage {
    background-color: rgb(252, 49, 49);
    padding: 8px;
    color: white;
    border: 2px solid rgb(206, 78, 127);
    border-radius: 9px;
    margin-bottom: 10px;
    width: 100%;
    
}


.btnEraser , .btnClear {
    background-color: rgb(49, 188, 252);
    padding: 8px;
    color: white;
    border: 2px solid rgb(78, 187, 206);
    border-radius: 9px;
    margin-bottom: 10px;
    width: 100%;
}


.btnDownload {
    background-color: rgb(238, 252, 49);
    padding: 8px;
   
    border: 2px solid rgb(193, 206, 78);
    border-radius: 9px;
    margin-bottom: 10px;
    width: 100%;

}
.btnDownload a{
    text-decoration: none;
    color: rgb(119, 119, 119);
}
.btnDownload:hover a{
 text-decoration: none;
}



span {
    padding: 10px;
}

